[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-dotenv = "*"
pillow = "*"
mysqlclient = "*"
psycopg2 = "*"
psycopg2-binary = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
